#header
{
    background-color: lightblue;
    width: auto;
    text-align: center;
}
#logo
{
    width: 100px;
    height: 100px;
    margin-right: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
#nav
{
    color: green;
    border: 2px solid;
    border-radius: 8px;
    width: 20px;
}
.fon
{
    background-color: darkslategray;
}
.spisok
{
    background-color: darkgrey;
}
.forma
{
    background-color: lightblue;
}
.text
{
    text-align: center;
}
.chet
{
    background-color: lightskyblue;
}
.nechet
{
    background-color: red;
}
#footer
{
    background-color: cornflowerblue;
}